/* General Styles for the Icons */
.icon {
 
  transition: color 0.3s ease; /* Smooth hover transition */
  text-decoration: none; /* Remove underline from links */
}

/* Hover Effects with Social Media Colors */
.icon.facebook:hover {
  background-color: #1877f2; /* Facebook Blue */
}

.icon.twitter:hover {
  background-color: #1da1f2; /* Twitter Blue */
}

.icon.instagram:hover {
  background-color: #e1306c; /* Instagram Pink */
}

.icon.linkedin:hover {
  background-color: #0077b5; /* LinkedIn Blue */
}
.icon.youtube:hover {
  background-color: red;
}
/* Style for nested dropdowns */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -0.1rem;
  margin-left: 0.1rem;
}
.junior {
  height: 300px;
  background-image: url("../src/assets/pattern9.png");
  background-size: auto; /* Keeps the original size of the image */
  background-repeat: repeat; /* Makes the background image repeat */
  background-position: top left; /* Starts repeating from the top-left corner */
}
.hover-link:hover {
  color: #e74c3c;
}
.man{
  font-size: 18px;
}
.service-link:hover {
  color: #e74c3c; /* Red color on hover (change as needed) */
  text-decoration: underline; /* Adds an underline on hover */
}
.serve{
  font-size: 34px;
}
.heading-line::after {
  content: "";
  font-weight: bold;
  color: #000;  /* Adjust this color to match your design */
  display: block;
  width: 20px;  /* Adjust the width of the "::" */
  margin: 10px 0;  /* Space above and below */
  border-top: 2px solid #000;  /* Adds a line beneath the "::" */
  margin-left: 0;  /* Align to the left */
}
